<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://dz-im.oss-cn-hongkong.aliyuncs.com/83c37_dz-im_FR.ipa?Expires=1564822134&amp;OSSAccessKeyId=TMP.hVN1UaW5iUU9ZKsnYoLkaKfaQLCWKkrXgtHyzRVQdNtK7opik4YZV5JLwBgeaj5io159tLshFhg8VsK8yPsz6QkaPRAN4VS1joSKkVFdnkG7KRiaDTQJtRU4wQXddR.tmp&amp;Signature=H39cnLwteEi%2BZgpPhvW4EphGIdc%3D</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://www.baidu.com</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://www.baidu.com</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.shiku.im.push</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>大众通讯</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
